@import '../node_modules/tingle.js/src/tingle';

.tingle-confirm {
    background: rgba(0, 0, 0, 0.7);

    .tingle-modal-box {
        border-radius: 24px;
        max-width: 385px;

        &__content {
            padding: 32px 32px 49px;
            text-align: center;
        }
    }
}


.autoComplete_wrapper {
    position: relative;
}
.autoComplete_wrapper>ul {
    position: absolute;
    max-height: 226px;
    overflow-y: scroll;
    box-sizing: border-box;
    left: 0;
    right: 0;
    margin: 0.5rem 0 0 0;
    padding: 0;
    z-index: 1;
    list-style: none;
    background-color: #fff;
    border: 1px solid #B2B3BD;
    outline: none;
    transition: opacity 0.15s ease-in-out;
    -moz-transition: opacity 0.15s ease-in-out;
    -webkit-transition: opacity 0.15s ease-in-out;
}

.autoComplete_wrapper>ul[hidden],
.autoComplete_wrapper>ul:empty {
    display: block;
    opacity: 0;
    transform: scale(0);
}

.autoComplete_wrapper>ul>li {
    margin: 0;
    padding: 0.3rem 0.5rem;
    text-align: left;
    background-color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.2s ease;
}

.autoComplete_wrapper>ul>li mark {
    background-color: transparent;
    color: #df192c;
    font-weight: 600;
}

.autoComplete_wrapper>ul>li:hover {
    cursor: pointer;
    background-color: rgba(178, 179, 189, 0.35);
}

.autoComplete_wrapper>ul>li[aria-selected="true"] {
    background-color: rgba(255, 122, 122, .105);
}

@media only screen and (max-width: 600px) {
    .autoComplete_wrapper>input {
        width: 18rem;
    }
}

.mt-15 {
    margin-top: 15px !important;
}
.mt-55 {
    margin-top: 55px;
}

.calc {
    --clr-red: #df192c;
    --clr-dark: #17181c;
    --clr-white: #fff;
    --clr-light: #B2B3BD;
    --clr-light-2: #f7f7f7;
    --clr-light-3: #E4E4E4;

    --clr-input: #fff;

    
    font-family: TT Firs Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

    h3 {
        margin-bottom: 1rem;
    }

    &-subtitle {
        font-weight: 600;
        line-height: 2;
        margin-bottom: 1rem;
    }

    .card-tariff__item {
        font-size: 14px;

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    .grid-action {
        display: grid;
        align-items: center;
        grid-template-columns: 380px 1fr;
        gap: 50px;
    }
}

.btn {
    --btn-clr-bg: var(--clr-red);
    --btn-clr-bg-hover: var(--clr-dark);
    --btn-clr-border: var(--btn-clr-bg);
    --btn-clr-text: var(--clr-white);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

    height: 40px;
    padding: 0 40px;

    background-color: var(--btn-clr-bg);
    border: 1px solid var(--btn-clr-border);
    border-radius: 16px;
    color: var(--btn-clr-text);
    font-size: 14px;
    font-weight: 600;

    transition: all 0.5s;

    &:hover:not(:disabled) {
        background-color: var(--btn-clr-bg-hover);
    }
    &:disabled {
        cursor: not-allowed;
        opacity: 0.75;
    }

    &--dark {
        --btn-clr-bg: #17181c;
        --btn-clr-bg-hover: #df192c;
    }

    &--pay {
        --btn-clr-bg: #fff;
        --btn-clr-bg-hover: #fff;
        --btn-clr-text: var(--clr-dark);
        --btn-clr-border: var(--clr-dark);

        &::after {
            content: '';
            background: url(atol-pay.png) no-repeat;
            background-size: contain;

            height: 16px;
            width: 87px;
        }
    }

    &--link {
        --btn-clr-bg: transparent;
        --btn-clr-bg-hover: transparent;
        --btn-clr-text: #17181c;

        font-weight: 400;
        height: auto;
        padding: 0;
    }
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 25px;
}

.input-field {
    font-size: 14px;


    &__action {
        display: grid;
        align-items: center;
        grid-template-columns: 380px 1fr;
        gap: 50px;
    }

    label {
        color: var(--clr-light);
        display: block;
    }

    input {
        background-color: var(--clr-input);
        border: 1px solid var(--clr-input);
        border-radius: 8px;
        line-height: 1;
        padding: 17px 26px;
        width: 100%;

        &::placeholder {
            color: var(--clr-light);
        }

        &:focus {
            outline: none;
            border-color: var(--clr-light-2);
        }
        &:disabled {
            color: var(--clr-light);
        }
    }

    &--center {
        input {
            padding-left: 0;
            padding-right: 0;
            text-align: center;
        }
    }
}

.calc-block {
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0px 4px 30px 0px #0000001A;
    font-weight: 400;

    padding: 16px 24px;
    position: relative;

    &:not(.calc-block--full) {
        min-width: 430px;
        max-width: 430px;
    }

    &--bordered {
        border: 1px solid #616161;
        border-radius: 30px;
        padding: 40px 30px;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        line-height: 1.3;
    }

    &__tariff{
        &-title {
            display: flex;
            align-items: center;
            gap: 8px;

            margin-right: -25px;

            .h4 {
                font-weight: 400;

                & + * {
                    margin-left: auto;
                }
            }
        }
        &-subtitle {
            color: #616161;
            font-size: 12px;
        }

        &-badge {
            background-color: #df192c;
            border-radius: 20px;
            color:#fff;
            font-size: 18px;
            height: 32px;
            padding: 0 16px;

            display: flex;
            align-items: center;
            justify-content: center;

            white-space: nowrap;
            
            &--dark {
                background-color: #000;
            }
        }
    }

    &__price {

        height: 36px;
        margin: 12px 0;

        &::before {
            content: '';

            position: absolute;
            left: 0;
            
            background: url(lines.svg) no-repeat center left;
            background-size: contain;
            height: 36px;
            width: 36px;
        }
        
        span {
            position: absolute;
            right: 0;

            background-color: #DBFF73;
            border-radius: 8px 0 0 8px;
            font-size: 18px;
            font-weight: 600;
            padding: 4px 12px 4px 10px;

            s {
                position: absolute;
                right: 8px;
                top: -26px;
                font-size: 16px;
            }
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 40px;
        padding: 0 43px;

        background-color: #df192c;
        border: none;
        color: #fff;
        font-size: 18px;
        font-weight: 600;

        transition: all 0.5s;

        &--rounded {
            border-radius: 16px;
        }
        &--dark {
            background-color: #17181c;

            &:hover {
                background-color: #df192c;
            }
        }
    }

    &__total {
        span {
            color: #808191;
            font-size: 14px;
        }
        &--big {
            span {
                color: inherit;
                font-size: 32px;
                font-weight: 600;
            }
        }


        &__discount {
            color: #ED1B2F;
        }
        &__old-value {
            color: #8e8f91;
        }
        &__value {
            font-size: 27px;
            font-weight: 600;
        }
    }

    &__footer {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 1rem;
    }
    
    h4 {
        margin-bottom: 20px;

        &:not(:first-child) {
            margin-top: 45px;
        }
    }

    .card-tariff__list {
        margin-left: 16px;
    }
}